ul{
    display: grid;
    grid-template-columns: 🥇 🥈 200px;
    gap: 1rem;
}

iframe {
    pointer-events: none;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 0px solid rgb(0, 0, 0);
    box-shadow: 1px 3px 8px rgba(0 0 0 /50%);
}

ul {
    list-style: none;
}
.overlay {
    position: absOlute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(43, 41, 41, 0.861);
}

.overlay {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 80%;
    place-content: center;
    overflow: hidden;
}

.overlay iframe {
    pointer-events: all;
}

* {
    box-sizing: content-box;
    width: 100%;
    margin: 0;
    padding: 0;
}
 .video{
    max-width: 10000;
    width: 80%;
    height: auto;
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill);
    align-items: center;
    grid-gap: 10px;
 }
 .grid-item1 {
    width: 560px;
    height: 315px;
    background:rgb(0, 0, 0);
   
 }

.grille {
    max-width: 10000;
    width: 80%;
    height: auto;
    margin: 30px;
    border: 1px solid rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(auto-fill,400);
    justify-content: center;
    grid-gap: 10px;
 }
 .grid-item {
     width: 355px;
     height: 200px;
     background:rgb(255, 255, 255);
 }
